body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#chart {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
}
.centered-div {
  width: 100%;
}
text.label {
    display: none;
    color: #FFFFFF;
    font-size: 10px;
    max-width: 10px;
    word-wrap: break-word;
    z-index: 1000;
}
svg g.x-axis g.tick text {
    font-size: 2px !important;
}
#bubble-chart {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
#controls {
  display: none;
}
#searchWrapper {
    font-size: 1.25em;
    position: fixed;
    z-index: 10000;
}
.narrowButton {
}
.wideButton {
        margin-top: 0;
        position: fixed;
        top: 0;
}
#search-input {
    display: none;
}
