body {
    margin: 5%;
    font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
}
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.profile-name {
    display: none;
}
#json-container :first-child a.profile-value {
    font-family: Calibri, sans-serif;
    font-size: 28px;
    font-weight: bold;
}
a.profile-value {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30%;
    font-size: 18px;
}
.profile-content :first-child {
    margin: 0;
    margin-top: 0;
}
.profile-content > *:nth-child(n+2) {
    margin: 0;
    margin-top: 5px;
}
.content-element {
    margin: 0;
}

