@font-face {
  font-family: 'New Times Roman';
  src: url('../fonts/VIPRoman-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Libre Baskeville';
  src: url('../fonts/libre-baskerville-font/LibreBaskerville-DpdE.ttf') format('truetype');
}
body {
    margin: 5%;
    margin-top: 2px;
    font-family: 'Libre Baskeville', serif;
    font-weight: 500;
}
a {
  text-decoration: none;
  color: #000000;
}
h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: 750;
    text-transform: uppercase;
}
.profile-name {
    display: none;
}
#json-container :first-child a.profile-value {
    font-size: 1.5em;
    font-weight: 900;
}
#json-container div {
    margin: 0;
    font-size: 0.925em;
}
a.profile-value {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30%;
    white-space: nowrap;
}
.profile-content :first-child {
    margin: 0;
    margin-top: 0;
}
.profile-content > *:nth-child(n+2) {
    margin: 0;
    margin-top: 5px;
}
.content-element {
    margin: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: space-between;
  margin-bottom: 5px;
}
.flex-container :first-child {
    font-style: italic;
    font-weight: 750;
    font-size: 0.95em;
}
.flex-container :nth-child(3) {
    font-weight: 900;
}
.column {
  margin-top: 0;
}
.column:first-child {
  margin-top: 0;
}
.column:last-child {
  margin-bottom: 0;
}
.column.span-fit {
    margin: 0;
}
.content-value {
}

.span-right {
  margin-top: 10px;
}

.span-fit {
  width: 100%;
  padding: 0;
  margin: 0;
}
.container {
}

.top-right-button {
  position: fixed;
  height: 2em;
  top: 5px;
  right: 5px;
  height: 2em;
  border-radius: 100px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 900;
}

